.recipe-title,
.recipe-description {
  margin: 0;
}

.recipe-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 24px;
}

.recipe-description {
  font-size: 1rem;
  color: #666;
}

.card {
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 300px;
  min-height: 300px;
  padding: 24px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.button {
  background-color: brown;
  color: white;
  margin-top: 24px;
}

.top-sale-coffe {
  padding: 24px;
  background-color: brown;
  color: white;
  border-radius: 8px;
  margin: 16px 0;
}

.top-sale-coffe p {
  margin: 0;
}

.button-event {
  background-color: brown;
  color: white;
  margin: 0 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 150px;
}

.dark-theme {
  background-color: #333;
  color: rgba(255, 255, 255, 0.87);
}

.light-theme {
  background-color: #fff;
  color: #242424;
}

.post {
  background-color: #f2f2f2;
  padding: 24px;
  margin-bottom: 24px;
}

.post img {
  height: 300px;
  object-fit: cover;
}

.post,
.post img {
  width: 300px;
  border-radius: 8px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form .button-event {
  width: 150px;
}

.item {
  background-color: #030303;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  cursor: pointer;
}

.title {
  color: #007aa3;
  text-decoration: underline;
}

.cursive {
  font-style: italic;
}

.colorbox {
  height: 100px;
  width: 100px;
  margin: 8px auto;
}

.button-count {
  background-color: #121212;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}

.list-products {
  text-align: left;
  padding: 0;
}

.list-products li {
  list-style: none;
  color: #191919;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  width: 500px;
}

.list-products li .price-products {
  color: greenyellow;
}

.list-products li p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-products li p {
  margin: 0;
}
